<!-- Footer -->
<footer class="bg-primary text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <h2 class="mb-3">AMCA DIGITAL</h2>
        <section class="mb-4">
            <p class="mb-1">
                AMCA Digital provides customized and cost-effective IT Solutions for small and medium businesses, startups, and enterprises in the UAE market.
            </p>
            <p>
                Our goal is to increase your business leads, sales, and conversions in the target region.
            </p>
        </section>
        <!-- Section: Form -->
        <section class="">
            @Html.Partial("_SubscribeForm")
        </section>
        <!-- Section: Form -->
        <!-- Section: Links -->
        <section class="mt-3">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Quick Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li><a href="@Url.Action("Index","Home")"> Home </a></li>
                        <li><a href="@Url.Action("AboutUs","Home")"> About</a></li>
                        <li><a href="@Url.Action("Industries","Home")"> Industries </a></li>
                        <li><a href="@Url.Action("Pricing","Home")"> Pricing </a></li>
                        <li><a href="@Url.Action("ContactUs","Home")"> Contact </a></li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Services</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="@Url.Action("ContentWriting","Services")">Content Writing </a></li>
                        <li><a href="@Url.Action("DigitalMarketing","Services")">Digital Marketing </a></li>
                        <li><a href="@Url.Action("GraphicDesign","Services")">Graphic Design </a></li>
                        <li><a href="@Url.Action("ServerSolutions","Services")">Server Solutions </a></li>
                        <li><a href="@Url.Action("SoftwareDevelopment","Services")">Software Solutions </a></li>
                        <li><a href="@Url.Action("VideoProduction","Services")">Video Production </a></li>
                        <li><a href="@Url.Action("WebDesignAndDevelopment","Services")">Web Design & Development </a></li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Useful Links</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="@Url.Action("Careers","Home")"> Careers </a></li>
                        <li><a href="@Url.Action("Careers","Home")"> Privacy Policy </a></li>
                        <li><a href="@Url.Action("ContactUs","Home")"> Sitemap </a></li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Follow Us</h5>
                    <!-- Section: Social media -->
                    <div class="mb-4">
                        <div class="mt-3 mt-md-0">
                            <div class="social-icon-inline">
                                <a href="https://www.facebook.com/amcaauditing" title="Facebook" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="15" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 310 310" style="enable-background:new 0 0 310 310;" xml:space="preserve">
                                        <g id="XMLID_834_">
                                            <path id="XMLID_835_" fill="#fff"  d="M81.703,165.106h33.981V305c0,2.762,2.238,5,5,5h57.616c2.762,0,5-2.238,5-5V165.765h39.064   c2.54,0,4.677-1.906,4.967-4.429l5.933-51.502c0.163-1.417-0.286-2.836-1.234-3.899c-0.949-1.064-2.307-1.673-3.732-1.673h-44.996   V71.978c0-9.732,5.24-14.667,15.576-14.667c1.473,0,29.42,0,29.42,0c2.762,0,5-2.239,5-5V5.037c0-2.762-2.238-5-5-5h-40.545   C187.467,0.023,186.832,0,185.896,0c-7.035,0-31.488,1.381-50.804,19.151c-21.402,19.692-18.427,43.27-17.716,47.358v37.752H81.703   c-2.762,0-5,2.238-5,5v50.844C76.703,162.867,78.941,165.106,81.703,165.106z"></path>
                                        </g>
                                    </svg>
                                </a>
                                <a href="https://www.linkedin.com/company/amcamiddleeast" title="Linkedin" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="15" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 169.063 169.063" style="enable-background:new 0 0 169.063 169.063;" xml:space="preserve">
                                    <g>
                                        <path fill="#fff" d="M122.406,0H46.654C20.929,0,0,20.93,0,46.655v75.752c0,25.726,20.929,46.655,46.654,46.655h75.752   c25.727,0,46.656-20.93,46.656-46.655V46.655C169.063,20.93,148.133,0,122.406,0z M154.063,122.407   c0,17.455-14.201,31.655-31.656,31.655H46.654C29.2,154.063,15,139.862,15,122.407V46.655C15,29.201,29.2,15,46.654,15h75.752   c17.455,0,31.656,14.201,31.656,31.655V122.407z"></path>
                                        <path fill="#fff" d="M84.531,40.97c-24.021,0-43.563,19.542-43.563,43.563c0,24.02,19.542,43.561,43.563,43.561s43.563-19.541,43.563-43.561   C128.094,60.512,108.552,40.97,84.531,40.97z M84.531,113.093c-15.749,0-28.563-12.812-28.563-28.561   c0-15.75,12.813-28.563,28.563-28.563s28.563,12.813,28.563,28.563C113.094,100.281,100.28,113.093,84.531,113.093z"></path>
                                                <path fill="#fff" d="M129.921,28.251c-2.89,0-5.729,1.17-7.77,3.22c-2.051,2.04-3.23,4.88-3.23,7.78c0,2.891,1.18,5.73,3.23,7.78   c2.04,2.04,4.88,3.22,7.77,3.22c2.9,0,5.73-1.18,7.78-3.22c2.05-2.05,3.22-4.89,3.22-7.78c0-2.9-1.17-5.74-3.22-7.78   C135.661,29.421,132.821,28.251,129.921,28.251z"></path>
                                    </g>
                                </svg>
                                </a>
                                <a href="https://www.instagram.com/amca.auditing/" title="Instagram" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="15" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 93.06 93.06" style="enable-background:new 0 0 93.06 93.06;" xml:space="preserve">
                                    <g>
                                    <g>
                                    <path fill="#fff" d="M11.185,0.08C5.004,0.08,0.001,5.092,0,11.259c0,6.173,5.003,11.184,11.186,11.184c6.166,0,11.176-5.011,11.176-11.184    C22.362,5.091,17.351,0.08,11.185,0.08z"></path>
                                    <rect fill="#fff" x="1.538" y="30.926" width="19.287" height="62.054"></rect>
                                    <path fill="#fff" d="M69.925,29.383c-9.382,0-15.673,5.144-18.248,10.022h-0.258v-8.479H32.921H32.92v62.053h19.27V62.281    c0-8.093,1.541-15.932,11.575-15.932c9.89,0,10.022,9.256,10.022,16.451v30.178H93.06V58.942    C93.06,42.235,89.455,29.383,69.925,29.383z"></path>
	                                </g>
                                    </g>
                                    </svg>
                                </a>
                                <a href="https://www.youtube.com/watch?v=bcMiiT8Y04s&amp;ab_channel=AMCA" title="Youtube" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="15" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 209.673 209.673" style="enable-background:new 0 0 209.673 209.673;" xml:space="preserve">
                                    <g>
                                    <path fill="#fff" d="M173.075,29.203H36.599C16.418,29.203,0,45.626,0,65.812v78.05c0,20.186,16.418,36.608,36.599,36.608h136.477   c20.18,0,36.598-16.422,36.598-36.608v-78.05C209.673,45.626,193.255,29.203,173.075,29.203z M194.673,143.861   c0,11.915-9.689,21.608-21.598,21.608H36.599c-11.91,0-21.599-9.693-21.599-21.608v-78.05c0-11.915,9.689-21.608,21.599-21.608   h136.477c11.909,0,21.598,9.693,21.598,21.608V143.861z"></path>
                                    <path fill="#fff" d="M145.095,98.57L89.499,61.92c-2.303-1.519-5.254-1.649-7.684-0.342c-2.429,1.308-3.944,3.845-3.944,6.604v73.309   c0,2.759,1.515,5.295,3.944,6.604c1.113,0.6,2.336,0.896,3.555,0.896c1.442,0,2.881-0.415,4.129-1.239l55.596-36.659   c2.105-1.388,3.372-3.74,3.372-6.262C148.467,102.31,147.2,99.958,145.095,98.57z M92.871,127.562V82.109l34.471,22.723   L92.871,127.562z"></path>
                                    </g>
                                </svg>
                                </a>
                            </div>
                            <address class="mt-3 mb-0">
                                <p>
                                    Unit No. 1801, Cluster T
                                    <span class="d-block"> Fortune Executive Tower JLT,</span>
                                    DMCC, Dubai, UAE.
                                </p>
                                <p>
                                    <a href="mailto:info@amcaauditing.com" title="info@amcaauditing.com">
                                        <span class="fa fa-envelope"></span>
                                        info@amcaauditing.com
                                    </a>
                                </p>
                                <p class="mb-0"><a href="tel:+97145654128" title=""><span class="fa fa-phone"></span> +971 4 565 4128</a></p>
                            </address>
                        </div>
                    
                    </div>
                    <!-- Section: Social media -->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->

    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <p class="text-white m-auto">Copyright &copy; 2021 -  @DateTime.Now.Year | All rights reserved</p>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
