<aside class="col-lg-4" id="stickySidebar">
    <div class="theme-box" id="makeSticky">
        <h4>Web Design & Development</h4>
        <table class="w-100">
            <tbody>
                <tr>
                    <td><a href="@Url.Action("LandingPageDevelopment", "WebDesignAndDevelopment")">Landing Page Development</a></td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("MobileAppDevelopment", "WebDesignAndDevelopment")">Mobile App Development</a></td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("ContentManagementSystem", "WebDesignAndDevelopment")">Content Management System</a></td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("ECommerce", "WebDesignAndDevelopment")">E-Commerce</a></td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("WebDevelopment", "WebDesignAndDevelopment")">Web Development</a></td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("WebDesigningAndRedesigning", "WebDesignAndDevelopment")">Web Designing & Redesigning</a></td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("FullStackDevelopment", "WebDesignAndDevelopment")">Full Stack Development</a></td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("WebsiteManagement", "WebDesignAndDevelopment")">Website Management</a></td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("PaymentGateway", "WebDesignAndDevelopment")">Payment Gateway</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</aside>